RewriteEngine on 
RewriteRule ^p/(.*) post.php?post_slug=$1 [QSA,L]
RewriteRule ^b/(.*)/(.*) board.php?board_slug=$1&sort=$2 [QSA,L]
RewriteRule ^b/(.*) board.php?board_slug=$1 [QSA,L]
RewriteRule ^u/(.*) user.php?user_slug=$1 [QSA,L]