/*body {*/
/*    font-family: 'Be Vietnam Pro', sans-serif;*/
/*}*/

.btn {
    box-shadow: none !important
}

.list-group-item {
    border: 0;
    background: #efefef;
}

.form-check-input:checked {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
}

.post-listing {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.upvote {
    margin-right: 1.5rem;
    margin-top: .5rem;
}

.title {
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-top: .25rem;
    margin-bottom: 0;
    float: left;
}

.status {
    color: #999;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 17px;
    text-transform: uppercase;
}

.content {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#post-content {
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 400;
}

#navigation {
    padding-bottom: 0;
    justify-content: space-between;
}

.search {
    width: 100%;
    padding: 15px 32px 15px 10px;
    /*background: rgba(255, 255, 255, 0.2);*/
    border: none;
    outline: none;
    /*color: rgba(255, 255, 255, 0.7);*/
    color: gray;
    font-size: 16px;
    /*border-radius: 4px !important;*/
    /*box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%);*/
    transition: background .4s, box-shadow .2s;
    /*clip-path: inset(-2px 0px -2px -2px);*/
}

.search::placeholder {
    /*color: rgba(255, 255, 255, 0.7);*/
    color: gray;
}

.search:focus::placeholder {
    color: gray;
}

.search:focus {
    /*box-shadow: 0 10px 20px rgb(0 0 0 / 14%);*/
    box-shadow: none;
    background: white;
    color: #3a3c4c;
}

.input-group-text {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.7);
    border: 0;
    margin-left: -1px;
}

.search:focus + .input-group-text {
    box-shadow: 0 10px 20px rgb(0 0 0 / 14%);
    background: white;
    color: #3a3c4c;
}

.input-icons .fa-magnifying-glass {
    position: absolute;
    padding: 17px 10px 10px 15px;
    z-index: 999;
}

.search {
    padding-top: 13px
}

#page {
    display: none;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999999999999;
    display: none;
    float: left;
    width: 300px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 .25rem .25rem;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    color: black;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-menu {
    width: 70%;
    border-bottom-left-radius: .25rem !important;
}

.input-group-text {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}


/* Placeholder styles */
.ph-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    direction: ltr;
    border-radius: .25rem;

}

.ph-item,
.ph-item *,
.ph-item ::after,
.ph-item ::before {
    box-sizing: border-box;
}

.ph-item::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
    -webkit-animation: phAnimation 0.8s linear infinite;
    animation: phAnimation 0.8s linear infinite;
    content: " ";
    pointer-events: none;
}

.ph-item > * {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}

.ph-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -7.5px;
}

.ph-row div {
    height: 10px;
    margin-top: 7.5px;
    background-color: #ced4da;
}

.ph-row .big, .ph-row.big div {
    height: 20px;
}

.ph-row .empty {
    background-color: rgba(255, 255, 255, 0);
}

.ph-col-2 {
    flex: 0 0 16.6666666667%;
}

.ph-col-4 {
    flex: 0 0 33.3333333333%;
}

.ph-col-6 {
    flex: 0 0 50%;
}

.ph-col-8 {
    flex: 0 0 66.6666666667%;
}

.ph-col-10 {
    flex: 0 0 83.3333333333%;
}

.ph-col-12 {
    flex: 0 0 100%;
}

[class*=ph-col] {
    direction: ltr;
}

[class*=ph-col] > * + .ph-row {
    margin-top: 0;
}

[class*=ph-col] > * + * {
    margin-top: 7.5px;
}

.ph-avatar {
    position: relative;
    width: 100%;
    min-width: 60px;
    overflow: hidden;
    background-color: #ced4da;
    border-radius: 50%;
}

.ph-avatar::before {
    display: block;
    padding-top: 100%;
    content: " ";
}

.ph-picture {
    width: 100%;
    height: 120px;
    background-color: #ced4da;
}

@-webkit-keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }
    100% {
        transform: translate3d(30%, 0, 0);
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .w-50-auto {
        width: 100%;
    }
    .w-75-auto {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-50-auto {
        width: 50%;
    }
    .w-75-auto {
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

.sans-serif {
    font-family: 'SF UI Display', sans-serif;
}

.bg-accent, .nav-pills .active {
    background-color: var(--accent-color)!important;
}

.text-accent, .nav-link:not(.active) {
    color: var(--accent-color)!important;
}

.btn-accent {
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: #fff;
}

.btn-accent:hover {
    color: #fff;
}

#openSearch, #openNotifications, #openNav {
    font-size: 18px;
    cursor: pointer;
}

#openSearch .fa-stack-2x, #openNotifications .fa-stack-2x, #openNav .fa-stack-2x {
    color: hsla(0, 0%, 39.2%, .1);
}

#openSearch .fa-stack-1x, #openNotifications .fa-stack-1x, #openNav .fa-stack-1x {
    color: #aaa;
}

nav .avatar {
    border-radius: 100%;
    width: 35px;
    cursor: pointer;
}

nav .page-icon svg {
    height: 20px;
    width: 20px;
    display: inline;
}

nav .page-icon span {
    vertical-align: middle;
    font-weight: 500;
}

.read-only {
    background: #FFE8C3;
    color: #ab6a00;
    text-align: center;
}

/*.board-name {*/
/*    font-weight: 700;*/
/*}*/

.statusGroup .card-header {
    border: 0;
    background: #efefef;
    font-weight: 700;
    font-size: 15px;
}

.statusGroup .fa-circle {
    font-size: 10px;
    vertical-align: middle;
}

.statusGroup .card-body {
    background: #efefef;
    height: 250px;
    overflow-y: auto
}

.statusGroup p.noPosts {
    font-weight: 500;
    color: #999;
}


@media (min-width: 576px) {
    .border-sm-top {
        border-top: 1px solid #e3e7eb !important;
    }
    .border-sm-right {
        border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm-left {
        border-left: 1px solid #e3e7eb !important;
    }
    .border-sm-top-0 {
        border-top: 0 !important;
    }
    .border-sm-right-0 {
        border-right: 0 !important;
    }
    .border-sm-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-sm-left-0 {
        border-left: 0 !important;
    }
    .border-sm-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-sm {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-sm-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .border-md-top {
        border-top: 1px solid #e3e7eb !important;
    }
    .border-md-right {
        border-right: 1px solid #e3e7eb !important;
    }
    .border-md-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md-left {
        border-left: 1px solid #e3e7eb !important;
    }
    .border-md-top-0 {
        border-top: 0 !important;
    }
    .border-md-right-0 {
        border-right: 0 !important;
    }
    .border-md-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-md-left-0 {
        border-left: 0 !important;
    }
    .border-md-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-md-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-md {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-md-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 992px) {
    .border-lg-top {
        border-top: 1px solid #e3e7eb !important;
    }
    .border-lg-right {
        border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg-left {
        border-left: 1px solid #e3e7eb !important;
    }
    .border-lg-top-0 {
        border-top: 0 !important;
    }
    .border-lg-right-0 {
        border-right: 0 !important;
    }
    .border-lg-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-lg-left-0 {
        border-left: 0 !important;
    }
    .border-lg-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-lg {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-lg-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}

@media (min-width: 1200px) {
    .border-xl-top {
        border-top: 1px solid #e3e7eb !important;
    }
    .border-xl-right {
        border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-bottom {
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl-left {
        border-left: 1px solid #e3e7eb !important;
    }
    .border-xl-top-0 {
        border-top: 0 !important;
    }
    .border-xl-right-0 {
        border-right: 0 !important;
    }
    .border-xl-bottom-0 {
        border-bottom: 0 !important;
    }
    .border-xl-left-0 {
        border-left: 0 !important;
    }
    .border-xl-x {
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-y {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
    }
    .border-xl {
        border-top: 1px solid #e3e7eb !important;
        border-bottom: 1px solid #e3e7eb !important;
        border-left: 1px solid #e3e7eb !important;
        border-right: 1px solid #e3e7eb !important;
    }
    .border-xl-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
}